{% load static %}




<footer class="text-center">

    <div class="container footer-top">
      <div class="row text-left">
  
      <div class="col-md-4 contactfooter">
        <h5 class="page-head">CONTACT US</h5>
    <ul class="list-unstyled">
    <li> 
    <i class="fas fa-map-marker-alt fa-fw"></i>
  1 Tesla Road, Austin, Texas 78725,<br>
     United State of America.
    </li>
    <li>
      <i class="fas fa-mobile-alt fa-fw"></i>
      <a href="tel:+19173840715" target="_blank">+19173840715</a>
    </li>
    <li>
      <i class="fas fa-envelope fa-fw"></i>
      <a href="mailto:ssupport@TeslaLegacyCapitalPartners.com" target="_blank">support@TeslaLegacyCapitalPartners.com</a>
    </li>
    <li>
      <i class="fas fa-envelope fa-fw"></i>
      <a href="mailto:support@TeslaLegacyCapitalPartners.com" target="_blank">contact@TeslaLegacyCapitalPartners.com</a>
    </li></ul>
    <!--ul closing-->
  
      </div>  <!--first md div closing-->
  
      <div class="col-md-4 links">
          <h5 class="page-head">LINKS</h5>
      <ul class="list-unstyled">
      <li><a href="https://changenow.io/?from=gbp&to=btc&fiatMode=true" target="_blank">Buy crypto</a></li> 
      <li><a href="faq.html">FAQ</a></li>
      <li><a href="terms%26conditions.html">Terms & Conditions</a></li> 
      <li><a href="privacy_policy-expertradingfx.pdf">Privacy Policy</a></li>
      <li><a href="terms%26conditions.html">Conflict Handling Policy </a></li> 
      </ul>
      </div>  <!--second col-md closing-->
  
      <div class="col-md-4 text-left socialmedia">
        <h5 class="page-head">SOCIAL MEDIA</h5>
  
        <ul class="list-unstyled">
          <li>
            <a href="#"><i class="fab fa-facebook-f fa-2x"></i></a>&nbsp;&nbsp;
            <a href="#"><i class="fab fa-twitter fa-2x"></i></a>&nbsp;&nbsp;
            <a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
          <li><img src="{% static 'images/main/ssl.png' %}" class="img-fluid img-responsive"></li>
          <li><img src="{% static 'images/main/footerlogo.png' %}" class="img-fluid img-responsive"></li>
        </ul>
  
      </div>
  
      </div>
    </div>
  
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col footer-copyright">
            All materials and services provided on this site are subject to copyright and belong to "TSLA Limited". Any use of materials of this website must be approved by an official representative of "Tesla Legacy Capital Partners", and contain a link to the original resource. In case of violation, they will be prosecuted by the legislation of the intellectual property protection.
          </div>
          <div class="col">
            Copyright©2025TeslaLegacyCapitalPartners.com - All Rights Reserved
          </div>
        </div>
      </div>
    </div>
  
    </footer>